body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/*transicion de color*/
.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 300ms;
    
}

.item:hover{
    background-color: lightskyblue;
    
}

.parrafo-amplio{
  transition: font-size 300ms ease-out;
}

.parrafo-amplio:hover{
  font-size: larger;
  cursor: pointer;
}

.item-opacidad{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
}

.item-opacidad:hover{
    opacity: 1;
}