body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

/*transicion de color*/
.item{
    background-color: tomato;
    width: 200px;
    height: 200px;
    transition-property: background-color;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 300ms;
    
}

.item:hover{
    background-color: lightskyblue;
    
}

.parrafo-amplio{
  transition: font-size 300ms ease-out;
}

.parrafo-amplio:hover{
  font-size: larger;
  cursor: pointer;
}

.item-opacidad{
    width: 200px;
    height: 100px;
    background-color: lightcoral;
    opacity: 0.6;
    transition: opacity 200ms ease-in-out;
}

.item-opacidad:hover{
    opacity: 1;
}

.subrayado{
    position: relative;
    display: inline-block;
   
}

.subrayado:hover{
cursor: pointer;
}

.subrayado::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    background-color: chartreuse;
    height: 2px;
    transition: width 250ms ease-in;
}

.subrayado:hover::after{
    width: 100%;
    
}

.contenedor-animado{
    width: 150px;
    height: 50px;
    background-color: lightgrey;
    color: black;
    animation-name: movimiento;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-iteration-count: infinite;

}

@keyframes movimiento {
    from{
        transform: translateX(0px);
    }
    to{
          transform: translateX(200px);   
        }
}

/*animacion de rotacion*/

.parrafo-rotado{
    animation: rotation 2s linear infinite ;
}

@keyframes rotation{
    0%{
        transform: rotate(8deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/*animacion de escala*/

.escala-mundo{
    animation: escalar 2s ease infinite alternate;
}

@keyframes escalar {
    0%{
transform: scale(1);
    }
   30%{
transform: scale(1.2);
    }  
   100%{
transform: scale(0.5);
    } 
}

.contenedor-principal{
    width: 250px;
    height: 250px;
}

.circulo{
    width: 30px;
    height: 30px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    animation: animacion-compleja 5s ease 1;
    transition: border-radius 200ms linear;
}

.circulo:hover{
    border-radius: 0px; 
}

@keyframes animacion-compleja {
    0%{
        top:0px;
        left: 0px;
        background-color: blue;
    }

    25%{
        top: 0px;
        left: 100px;
        background-color: rgb(77, 77, 236);
    }

    50%{
        top: 100px;
        left: 100px;
        background-color: rgb(113, 113, 244);
    }

    75%{
        top: 100px;
        left: 0px;
        background-color: rgb(77, 77, 236);
    }
    100%{
        top: 0px;
        left: 0px;
         background-color: blue;
    }
}